/* 
Color Pallette
#EEEEEE - off white
#00ADB5 - teal
#393E46 - lighter grey
#222831 - darker grey, skewed blue

*/
:root {
     --lighter:#EEE;
     --light: #e3e9e9;
     --dark: #393E46;
     --darker: #222831;
     --highlight: #00ADB5;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    color: var(--lighter);
}

p, h2, h3 {
    color: var(--darker);
}

/* Header formatting */
header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--darker);
    font-family: monospace;
    /* position:fixed;
    top: 0%; */
}

h1 {
    font-size: 32px;
    margin-left: 10px;
    line-height: 150%;
}

#name {
    color: var(--highlight);
    /* background-color: var(--dark);  */ /* make the text look like it's selected? */
}

/* Hide the nav button unless in mobile mode */
#nav-button {
    display: none;
    font-size: 24px;
    line-height: 100%;
    font-family: u2400;
    border: 2px solid var(--lighter);
    border-radius: 50%;
    padding:3px;
    margin-right:10px;

}

nav {
    display: flex;
    flex: 0 1 10%;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-size: 28px;
    line-height: 48px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

nav a:hover {
    background-color: var(--dark);
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: stretch;
}

/* About Me formating */
#about-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#about-me img {
    max-width: 28%;
    object-fit: cover;
    margin: 1%;
    border-radius: 50%;
    /* display: inline; */
}

#about-me-text {
    font-size: 20px;
    line-height: 200%;

    padding-left: 5%;
    border-left: 8px solid var(--darker);
    margin-right: 7%;
    margin-top: 10px;
}

h2 {
    font-size: 48px;
    line-height: 100%;
}

#about-me-text > p {
    margin-top: 15px;
}


/* Styling for projects page */
#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    padding-left: 5%;
    margin: 10px 5% 10px 30%;
    border-left: 8px solid var(--darker);
    /* background-color: red; */
}

#projects > h2 {
    width: 100%;
}

.project {
    flex: 0 0 49%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    background-color: var(--light);
    margin-top: 10px;
    margin-bottom: 10px;

    border: 8px solid var(--light);
}

.project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    overflow: clip;
    margin-bottom: 5px;
    align-self: center;
    opacity: 70%;
}

.featured {
    flex: 0 0 99%;
    max-height: 700px;
    /* background-color: purple; */
}

.featured img {
    max-height: 600px;
}

.project h3 {
    /* padding-left: 5%; */
    font-size: 30px;
    line-height: 100%;
    font-weight: bold;
}

.project:hover {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.project:hover h3 {
    background-color: var(--highlight);
}

.project:hover img {
    opacity: 100%;
}

/* Contact me styling */
#contact-me {
    margin: 10px 1% 10px 1%;
    width: 98%;
    
}

#contact-me h2{
    text-align: center;
    margin-bottom: 10px;
}

#contact-me ul {
    display: flex;
    justify-content: space-between;
}

#contact-me li {
    color: var(--darker);
    font-size: 24px;
    font-weight: bold;
}

#contact-me a {
    color: var(--darker);
    font-weight: normal;
}

/* Styling for footer */
footer {
    background-color: var(--darker);
    display: block;
    text-align: center;

    padding: 20px
}

footer > p {
    color: var(--lighter);
    font-weight:lighter;
    font-size: 20px;
}

/* Responsive CSS for mobile devices */
@media screen and (max-width: 768px) {
    /* Navigation button that will bring up navigation links when clicked, 
    then dissapear until it loses focus */
    #nav-button {
        display: inline-block;
    }

    .links {
        display: none;
    }

    nav:hover > .links {
        display: flex;
        flex-direction: column;
    }

    nav:hover > #nav-button {
        display: none;
    }

    /* Mobile formatted about me */
    #about-me {
        flex-direction: column;
        justify-content: center;
        margin: 2%;
    }

    #about-me > img {
        margin: 4%;
        max-width: 90%;
    }

    #about-me-text {
        text-align: left;
        /* Erase previous border */
        border: none;
        padding: none;

        border-top: 8px solid var(--darker); 
        padding-top: 3%;
        margin: 0px;
        margin-top: 10px;
    }

    #about-me-text > h2 {
        text-align: center;
    }

    /* Mobile Projects Section Styling */

    #projects {
        border: none;
        width:96%;
        margin: 2%;
        padding:0px;
        padding-top: 10px;
        border-top: 8px solid var(--darker);
    }

    #projects h2{
        margin: 0px;
        padding: 0px;
        text-align: center;

        margin-bottom: 10px;
    }

    .project {
        flex: 0 0 99%;
        margin: 0.5%;
        padding: 0px;
    }

    /* Mobile Contact Me section styling */
    #contact-me ul{
        flex-direction: column;
        flex-wrap: wrap;
    }

    #contact-me {
        margin: 0px;
        padding: 0px;
        border: none;

        padding-top: 10px;
        border-top: 8px solid var(--darker);
        
        margin: 2%;
        width: 96%;
    }

    #contact-me li {
        font-size: 20px;
    }
}