/* 
Color Pallette
#EEEEEE - off white
#00ADB5 - teal
#393E46 - lighter grey
#222831 - darker grey, skewed blue

*/
:root {
     --light:#EEE;
     --dark: #393E46;
     --darker: #222831;
     --highlight: #00ADB5;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    color: var(--light);
}

p, h2, h3 {
    color: var(--darker);
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--darker);
    font-family: monospace;
    /* position:fixed;
    top: 0%; */
}

h1 {
    font-size: 32px;
    margin-left: 10px;
    line-height: 150%;
}

#name {
    color: var(--highlight);
    /* background-color: var(--dark);  */ /* make the text look like it's selected? */
}

/* Hide the nav button unless in mobile mode */
#nav-button {
    display: none;
    font-size: 24px;
    line-height: 100%;
    font-family: u2400;
    border: 2px solid var(--light);
    border-radius: 50%;
    padding:3px;
    margin-right:10px;

}

nav {
    display: flex;
    flex: 0 1 10%;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-size: 28px;
    line-height: 48px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

nav a:hover {
    background-color: var(--dark);
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: stretch;
}

/* Responsive CSS for mobile devices */
@media screen and (max-width: 768px) {
    /* TODO: Create a navigation button that will bring up navigation links when clicked */
    #nav-button {
        display: inline-block;
    }

    .links {
        display: none;
    }

    nav:hover > .links {
        display: flex;
        flex-direction: column;
    }

    nav:hover > #nav-button {
        display: none;
    }

}